@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&family=Reddit+Mono:wght@200..900&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


.home {
    background-color: rgb(214, 94, 214);
    overflow-x: hidden;
}
.links {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 5;
}
.links ul li {
    display: inline-block;
    list-style-type: none;
    padding: 8px 12px;
}
.links ul li a {
    text-decoration: none;
    color: white;
}

