@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&family=Reddit+Mono:wght@200..900&family=Shadows+Into+Light&display=swap');

.home {
    background-color: rgb(214, 94, 214);
    overflow-x: hidden;
}
.links {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 5;
}
.links ul li {
    display: inline-block;
    list-style-type: none;
    padding: 8px 12px;
}
.links ul li a {
    text-decoration: none;
    color: white;
}
