#timer {
    display: flex;
    position: relative;
    top: 100px;
    z-index: 10;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}


#download {
    display: flex;
    position: absolute;
    top: 32%;
}

#body {
    position: relative;
    margin: auto;
    background-image: url(noclock.png);
    background-size: 100%;
    height: 40vw;
    width: 40vw;
}
.home::-webkit-scrollbar {
    background-color: black;
}
.home::-webkit-scrollbar-track-piece {
    background-color: black;
}
.home::-webkit-scrollbar-thumb {
    background-color: #b63b3b;
}

.search-bar {
    display: flex;
    position: absolute;
    z-index: 500;
    top: 20%;
    left: 0;
    width: 100%;
}
.search {
    display: none;
    position: relative;
    text-align: center;
    width: 100%;
    height: 40px;
    background: linear-gradient(#bb443b 0 0) bottom/0% 2px no-repeat;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: transparent;
    border-bottom: 1px solid #b63b3b;
    border-bottom-width: 0;
    border-bottom-color: red;
    outline: none;
    transition: 1s ease-in-out;
}

.search:hover {
    background-size: 100% 2px;
}
.search:focus {
    background-size: 100% 2px;
}

.search::placeholder {
    font-size: 19px;
    color: blueviolet;
}
.search[type=search] {
    font-size: 19px;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.search[type=search]::selection {
    background-color: #2e2e2e;
    color: #bb443b;
}
.search[type=search]::spelling-error {
    text-decoration: darkgreen;
    color: #bb443b;
    background-color: aquamarine;
}

.searchForm {
    display: flex;
    position: relative;
    width: 100%;
}
#search-icon {
    display: flex;
    position: absolute;
    z-index: 5;
    color: red;
    right: 13%;
    cursor: pointer;
}

.courses {
    display: flex;
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    background-color: white;
}
.box {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 4px;
    box-shadow: 0 0 10px #bb443b;
    border: 1px solid;
    font-size: 12px;
    border-color: transparent;
    transition: 0.3s ease-in-out;
    background-color: rgba(128, 128, 128, 0.363);
    width: 100%;
}
.box:hover {
    transition: 0.3s ease-in-out;
    border-color: #2e2e2e;
    box-shadow: 0 0 10px #000;
}

.physicsImage {
    display: flex;
    position: relative;
    height: 200px;
    width: 200px;
}
.looker {
    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.filter {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 32%;
    min-height: 100%;
    background-color: wheat;
}
.filter p {
    width: fit-content;
    cursor: pointer;
}
.allClasses {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1;
    height: 0;
}
.allClasses h4 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0;
    width: 100%;
    height: 39px;
    border: 1px solid;
    border-color: transparent;
}
.allClasses h4:hover {
    border-color: black;
}
.tags {
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 5px;
    bottom: 0;
}
.tags h5 {
    display: flex;
    position: relative;
    background-color: #bb443b;
    color: aqua;
    height: 40px;
    width: 80px;
    font-size: 13px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
.tags h5:hover {
    transition: background-color 0.5s ease-in-out;
    background-color: #853131;
}
.contain {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    font-size: 0;
}
#goUp {
    display: flex;
    position: relative;
    right: 0;
    bottom: 0;
}
#filterCancel {
    cursor: pointer;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
@media (width: 320px) {
    .courses {
        display: flex;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
    }
    .box {
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #looker {
        font-size: 15px;
    }
    .physicsImage {
        display: flex;
        position: relative;
        height: 90px;
        width: 90px;
    }
    #search-icon {display: none;}
    .search {
        display: flex;
    }
    .filter {
        display: none;
    }
}

@media (max-width: 425px) {
    .courses {
        display: flex;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
    }
    .box {
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #looker {
        font-size: 15px;
    }
    #physicsImage {
        display: flex;
        position: relative;
        height: 90px;
        width: 90px;
    }   
    .filter {
        display: none;
    }.tags h5 {
        height: 23px;
        width: 40px;
        font-size: 8px;
    }
}
@media (max-width: 768px) {
    .courses {
        display: flex;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
    }
    #physicsImage {
        display: flex;
        position: relative;
        height: 175px;
        width: 175px;
    }   
    .filter {
        display: none;
    }
}

@media (width: 2560px) {
    .search::placeholder {
        font-size: 50px;
    }
    .search[type=search] {
        font-size: 50px;
    }
    .courses {
        display: flex;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
    }
    .box {
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #looker {
        font-size: 50px;
    }
    #physicsImage {
        display: flex;
        position: relative;
        height: 300px;
        width: 300px;
    } 
}

@keyframes comeDown {
    0% { height: 0%; transition: 1s ease-in-out; }
    50% { height: 50%; transition: 1s ease-in-out; } /* Adjust this value as needed */
    100% { height: 100%; transition: 1s ease-in-out; }
}