#timer {
    display: flex;
    position: relative;
    top: 100px;
    z-index: 10;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}

#download {
    display: flex;
    position: absolute;
    top: 32%;
}

#body {
    position: relative;
    margin: auto;
    background-image: url(noclock.png);
    background-size: 100%;
    height: 40vw;
    width: 40vw;
}

.search-bar {
    display: flex;
    position: absolute;
    z-index: 500;
    top: 20%;
    left: 0;
    width: 100%;
}
.search {
    display: none;
    position: relative;
    text-align: center;
    width: 100%;
    height: 40px;
    background: linear-gradient(#bb443b 0 0) bottom/0% 2px no-repeat;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: transparent;
    border-bottom: 1px solid #b63b3b;
    border-bottom-width: 0;
    border-bottom-color: red;
    outline: none;
    transition: 1s ease-in-out;
}

.search:hover {
    background-size: 100% 2px;
}
.search:focus {
    background-size: 100% 2px;
}

.search::placeholder {
    font-size: 13px;
    color: blueviolet;
}
.search[type=search] {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.search[type=search]::selection {
    background-color: #2e2e2e;
    color: #bb443b;
}
.search[type=search]::spelling-error {
    text-decoration: darkgreen;
    color: #bb443b;
    background-color: aquamarine;
}
#search-icon {
    display: flex;
    position: absolute;
    z-index: 5;
    color: red;
    right: 13%;
    cursor: pointer;
}

.courses {
    display: flex;
    position: absolute;
    top: 30%;
    left: 20%;
}
.box {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 4px;
    box-shadow: 0 0 10px #bb443b;
    border: 1px solid;
    border-color: transparent;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
}
.box:hover {
    transition: 0.3s ease-in-out;
    border-color: #2e2e2e;
}

#physicsImage {
    display: flex;
    position: relative;
    height: 200px;
    width: 200px;
}
#looker {
    font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 320px) {
    .courses {
        display: flex;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
    }
    .box {
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #looker {
        font-size: 15px;
    }
    #physicsImage {
        display: flex;
        position: relative;
        height: 90px;
        width: 90px;
    }
    #search-icon {display: none;}
    .search {
        display: flex;
    }
}

@media (max-width: 425px) {
    .courses {
        display: flex;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
    }
    .box {
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #looker {
        font-size: 15px;
    }
    #physicsImage {
        display: flex;
        position: relative;
        height: 90px;
        width: 90px;
    }   
}
@media (max-width: 768px) {
    .courses {
        display: flex;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
    }
    #physicsImage {
        display: flex;
        position: relative;
        height: 175px;
        width: 175px;
    }   
}

@media (width: 2560px) {
    .search::placeholder {
        font-size: 50px;
    }
    .search[type=search] {
        font-size: 50px;
    }
    .courses {
        display: flex;
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
    }
    .box {
        display: flex;
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #looker {
        font-size: 50px;
    }
    #physicsImage {
        display: flex;
        position: relative;
        height: 300px;
        width: 300px;
    } 
}
